.app-l-footer {
    background: #404040;
    padding-left: 98px !important;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
}

.body-pd .app-l-footer {
    padding-left: 30px !important;
}