<div class="l-navbar app-l-sidebar " id="nav-bar">
	<nav class="nav-side">
		<div>
			<div class="nav_logo header_toggle" >
				<div class="sidebar-logo" onclick="sideBarNavigationToggle()" (click)="toggleCollapse(false)">
					<img class="cx-menu"  id="header-toggle" src="../../../../assets/images/logo-cp.png">
				</div>
				<div onclick="HideToggle()" (click)="toggleCollapse(true)">
					<img class="fx-menu" id="sidenavelogo" src="../../../../assets/images/logo-xp.png">
				</div>
			</div>
			<div class="nav_list" *ngIf="isCollapsed">
				<a class="nav_link" placement="right"  triggers="mouseenter:mouseleave" container="body"> <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/1.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/1-white.png" > <span class="nav_name">Document</span> </a>
				<!-- <a href="#" class="nav_link"> <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/6.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/6-white.png"> <span class="nav_name">Closing Occupancy</span> </a> -->
				<a class="nav_link hideicons"  > <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/1.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/1-white.png"> <span class="nav_name">Document </span> </a>
			</div>
			<div class="nav_list" *ngIf="!isCollapsed">
				<a class="nav_link"> <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/1.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/1-white.png" > <span class="nav_name">Document</span> </a>
				<!-- <a href="#" class="nav_link"> <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/6.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/6-white.png"> <span class="nav_name">Closing Occupancy</span> </a> -->
				<a class="nav_link hideicons"> <img class="bx bx-user nav_icon" id="header-toggle" src="../../../../assets/images/1.png"><img class="bx bx-user nav_icon-hover" src="../../../../assets/images/1-white.png"> <span class="nav_name">Document </span> </a>
			</div>
		</div>
		<!-- <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a> -->
	</nav>
</div>
<ng-template #_newRequests>
    <span>
        Document
    </span>
</ng-template>