  <div class="modal-body modal-body-style" style="max-height: 500px; overflow: auto;">
    <div class="body-property-item">
      <div class="accordion-body-flex-item">
        <div class="row">
          <button (click)="delete()">Delete</button>
          <table class="table table-hover table-striped" id="document">
            <thead>
              <tr>
                <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                <th scope="col">File Name</th>
                <th scope="col">Category</th>
                <th scope="col" style="width: 215px;">Description</th>
                <th scope="col">Tags</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doc of document; let i=index;">
                <td><input type="checkbox" value="{{doc.Document_ID}}" [(ngModel)]="document[i].checked"></td>
                <td (click)="downloadFile(doc)" type="button" >{{doc.Title}}></td>
                <td>{{doc.Category}}</td>
                <td>{{doc.Description}}</td>
                <td>{{doc.Tags}}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-body-property-item body-property-item">
      <div class="accordion-body-flex-item drag-drop-max-width">
  
  
      </div>
    </div>
  </div>
